@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.todo-container {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
    width: 400px;
}

body {
  background: url('/src/assets/orbit.gif') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px; 
  font-family: 'Space Grotesk',sans-serif;
}

.title {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     font-family: 'Space Grotesk',sans-serif;
}

.todo_main {
    margin: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.todo-card {
    width: 300px;
    padding: 20px;
    background-color: #fff9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.heading-input {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
     font-family: 'Space Grotesk',sans-serif;
}

.heading_todo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.heading_todo h3 {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

.delete-button-heading {
    height: 40px;
    background-color: #7669f6;
    color: #fff;
    border: none;
    border-radius: 4px;
     font-family: 'Space Grotesk',sans-serif;
}

.list-item {
    display: flex;
    gap: 20px;
    margin: 10px;
    justify-content: center;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.list-input {
    width: 170px;
    height: 25px;
     font-family: 'Space Grotesk',sans-serif;
}

.add-list-button {
    background-color:#7669f6;
    color: #fff;
    border: none;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 25px;
     font-family: 'Space Grotesk',sans-serif;
}

.todo_inside_list {
    display: flex;
    gap: 10px;
    margin: 10px;
}